<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <br>
    <ul>
    {% for postagem in postagens %}

        <li><a href="{% url 'leitura_postagem' postagem.id %}">{{ postagem.titulo }}</a>  --  {{ postagem.data_publicacao }}</li>

    {% endfor %}
    </ul>
    <br><br><form action="{% url 'create' %}"><input type="submit" value="Create" /></form>

</body>
</html>